/*home-page*/
.homePage-logo {
  max-width: 70%;
  display: block;
  height: auto;
}

.homePage__menu {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: gray;
}
.homePage__description {
  color: gray;
  font-family: "IranYekan", sans-serif !important;
  line-height: 2rem !important ;
}
.homePage__cityItem {
  color: gray;
  font-family: "IranYekan", sans-serif !important;
}
.homePage__cityBox {
  border-bottom: 1px solid gray !important;
  padding-bottom: 1rem;
}
.social-icon {
  color: gray;
}

/*LocationSearch component*/

.locationSearch-input {
  background-color: #fff;
}
.locationSearch-input--size {
  background-color: #fff;
}

.locationSearch-input .MuiOutlinedInput-root {
  color: gray;
  font-family: "IranYekan", sans-serif;
  margin-bottom: 10px;
}
.locationSearch-input--size .MuiOutlinedInput-root {
 
  font-family: "IranYekan", sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.locationSearch-input
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid;
  border: 1px solid gray;
}
.locationSearch-input--size
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid;
  border: 1px solid gray;
}
.locationSearch-input:hover
  .MuiOutlinedInput-root
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid gray;
}
.locationSearch-input--size:hover
  .MuiOutlinedInput-root
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid gray;
}

/* Ads Page--navbar*/

.ads-navBar {
  background-color: #fff !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgb(239, 236, 236);
  padding-left: 8rem;
  padding-right: 8rem;
}
.ads-navBar__logo {
  width: 15%;
  border-left: 1px solid rgb(239, 236, 236);
}
.ads-navBar__btn {
  display: flex;
  align-items: center !important;
  padding: 4px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  color: gray !important;
  font-family: "IranYekan", sans-serif !important;
}

.ads-navBar__btn:hover {
  background-color: #f7f4f4;
  color: #575656 !important;
  font-weight: 700;
}
.ads-navBar_input {
  width: 25%;
}
.ads-navBar__searchBox {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 4px;
}
.ads-navBar__searchInput {
  margin-right: 8px;
  flex: 1;
  font-size: 16px;
  font-family: "IranYekan", sans-serif !important;
}
.ads-navBar__searchIcon {
  color: gray;
  margin-left: 8px;
}
.ads-navBar__adsBtn {
  display: flex;
  align-items: center !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  background-color: #05017b !important;
  color: #ffc107 !important;
  font-family: "IranYekan", sans-serif !important;
}
.ads-navBar__adsBtn:hover {
  background-color: #292778 !important ;
}

/* Ads page --sidbar*/
.ads-container {
  display: grid;
}
.ads-sideBar__gridOne {
  margin-top: 80px;

  width: 25%;
   /* position: fixed;  */
  margin-right: 4%;
  height: 100vh;
}
.ads-sideBar__gridTwo {
  margin-top: 90px;

  width: 60%;
  overflow: "auto";
  margin-right: 30%;
}
.ads-sideBar {
  width: 70%;
  margin-right: auto;
  overflow: auto;
}
.ads-sideBar__listItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.ads-sideBar__itemIcon {
  color: gray !important;
  min-width: 0 !important;
  margin-left: 8px;
  font-size: 14px;
}
.ads-sideBar__itemText {
  font-family: "IranYekan" !important;
  display: inline;
  text-align: right;
  color: gray !important;
}
.ads-sideBar__itemText--child {
  font-family: "IranYekan" !important;
  display: inline;
  text-align: right;
  color: gray !important;
  margin-right: 10% !important;
}
.ads-sideBar__itemText--color{
  font-family: "IranYekan" !important;
  display: inline;
  text-align: right;
  color: black !important;
 
}
.ads-sideBar__itemText--margin{
  font-family: "IranYekan" !important;
  display: inline;
  text-align: right;
  color: black !important;
  margin-right: 5% !important;
 
}
.ads-sideBar__listItem:hover .ads-sideBar__itemIcon,
.ads-sideBar__listItem:hover .ads-sideBar__itemText ,.ads-sideBar__itemText--child:hover {
  color: #575656 !important;
  font-weight: 700;
}

.ads-sideBar__locBtn {
  font-family: "IranYekan", sans-serif !important;
  font-size: 12px !important;
  color: gray !important;
  display: flex;
  justify-content: space-between !important;
  padding-left: 1px !important;
  border: 1px solid rgb(210, 206, 206) !important;
  width: 100%;
  max-width: 80%;
}
.ads-sideBar__locBtn:hover {
  border-color: gray !important;
  background-color: transparent !important;
}
.ads-sideBar__collapsText {
  font-family: "IranYekan";
  font-weight: 600;
  display: inline;
  text-align: right;
}

.ads-sideBar__deletBtn {
  font-family: "IranYekan" !important;
  color: #a62626 !important;
  margin-left: 40px !important;
}
.ads-sideBar__deletIcon {
  font-family: "IranYekan" !important;
  color: #a62626 !important;
  margin-left: 60px !important;
  font-size: 12px !important;
}

.ads-sideBar__priceBox {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: 80% !important;
  margin-bottom: 10px;
}
.ads-sideBar__box{
  width: 80% !important;
}
.ads-sideBar__priceBox__title {
  font-family: "IranYekan" !important;
  font-size: 12px !important;
}

.ads-sideBar__priceAutocomplete {
  width: 70%;
  font-family: "IranYekan", sans-serif !important;
}

.ads-sideBar__priceAutocomplete
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: gray;
  border: 1px solid gray;
}

.ads-sideBar__priceAutocomplete
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: gray;
  border: 1px solid gray;
}

.ads-sideBar__priceSpan .MuiInputBase-input::placeholder {
  font-family: "IranYekan";
  font-size: 12px;
}
.ads-sideBar__priceSpan .MuiInputBase-input {
  font-family: "IranYekan" !important;
  font-size: 12px;
}
.ads-sideBar__pricePaper {
  font-family: "IranYekan" !important;
  font-size: 12px !important;
}

.ads-sideBar__swichStatus {
  display: flex;
  justify-content: space-between;
  direction: ltr;
  width: 80%;
}

.ads-sideBar__swichStatus .MuiSwitch-switchBase.Mui-checked {
  color: #a62626;
}

.ads-sideBar__swichStatus .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #a62626;
}

.ads-sideBar__nav {
  font-size: 14px;
  color: gray;
  max-width: 80%;
  margin-top: 10px;
}
.ads-sideBar__footer {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin-top: 20px;
}

.ads-sideBar__toggleGroup{
  border:none;
  overflow: hidden;
  background-color: #05017b;
  border-radius: 10px !important;
 
}
.ads-sideBar__toggleBtn{
  font-family: 'IranYekan' !important;
  color: white !important;
}
.ads-sideBar__toggleBtn--active{
  font-family: 'IranYekan' !important;
  color: #ffc107 !important;
}













/*ads-page---ProductsCards*/

.productsCards__title {
  font-family: "IranYekan" !important;
  font-size: 12px !important;
  color: gray;
  direction: ltr;
  margin-bottom: 2% !important;
  margin-left: 10% !important;
}
.productsCards__grid {
  overflow-y: auto !important;
  justify-content: center !important;
}

/*ProducCard*/

.productCard__card {
  display: flex;
  border: 1px solid #cdcaca;
  width: 350px !important;
  cursor: pointer;
}
.productCard__mainBox {
  display: flex;
  flex-direction: column;
  width: 60% !important;
}
.productCard__title {
  font-family: "IranYekan" !important;
  font-weight: bold !important;
  margin-bottom: 8px !important;
}
.productCard__desc {
  color: gray;
  font-family: "IranYekan" !important;
}
.productCard__iconBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 8px !important;
}
.productCard__iconBox__desc {
  font-family: "IranYekan" !important;
  font-size: 12px !important;
  color: gray;
}
.productCard__mediaCard {
  width: 150px !important;
  padding: 0.5rem !important;
  border-radius: 1rem !important;
}
