/*home-page*/
.homePage-logo {
  max-width: 70%;
  display: block;
  height: auto;
}

.homePage-menu {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: gray;
}
.homePage-description {
  color: gray;
  font-family: "IranYekan", sans-serif !important;
  line-height: 2rem !important ;
}
.homePage-cityItem {
  color: gray;
  font-family: "IranYekan", sans-serif !important;
}
.homePage-cityBox {
  border-bottom: 1px solid gray !important;
  padding-bottom: 1rem;
}
.social-icon {
  color: gray;
}
.footer-box {
  margin-top: 100px;
}

/*LocationSearch component*/

.locationSearch-input {
  background-color: #fff;
}
.locationSearch-input .MuiOutlinedInput-root {
  color: gray;
  font-family: "IranYekan", sans-serif;
  margin-bottom: 10px;
}

.locationSearch-input
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid;
  border: 1px solid gray;
}
.locationSearch-input:hover
  .MuiOutlinedInput-root
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid gray;
}

/* Ads Page*/

.ads-bar {
  background-color: #fff !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgb(239, 236, 236);
  padding-left: 8rem;
  padding-right: 8rem;
}
.ads-bar_logo {
  width: 15%;
  border-left: 1px solid rgb(239, 236, 236);
}
.ads-bar_location {
  padding: 10px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  color: gray !important;
  font-family: "IranYekan", sans-serif !important;
}

.ads-bar_location:hover {
  background-color: #f7f4f4;
  color: #575656 !important;
}
