@tailwind base;
@tailwind components;
@tailwind utilities;





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}



button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

@font-face {
  font-family: "IranYekan";
  src: url("../assets/fonts/Webfonts/woff/IRANYekanX-Bold.woff")
    format("woff");
  src: url("../assets/fonts/Webfonts/woff/IRANYekanX-Regular.woff")
    format("woff");
  src: url("../assets/fonts/Webfonts/woff2/IRANYekanX-Bold.woff2")
    format("woff2");
  src: url("../assets/fonts/Webfonts/woff2/IRANYekanX-Regular.woff2")
    format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "IranYekan", sans-serif;
  overflow-y:scroll;
  
}

@layer components{
  .custom-autocomplete-adSide .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    @apply border-gray-500 border; /* Apply Tailwind's border color and width */
  }
  
  .custom-autocomplete-adSide .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    @apply border-gray-500 border; /* Optional hover state */
  }
  .custom-textField-adSide .MuiInputBase-input {
    @apply font-iranYekan text-xs ; /* Apply custom font and font size */
  }

  .custom-textField-adSide .MuiInputBase-input::placeholder {
    @apply font-iranYekan text-xs; /* Apply custom font and font size for placeholder */
  }
}