/*home-page*/
.home-header{
    text-align: center;
    margin: 30px 0;

}
.home-logo{
    margin-bottom: 30px;
}
.home-nav{
    display: grid;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid #fff;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #fff;
}
.home-desc{
  color: #fff;
  font-family: 'IranYekan',sans-serif !important;
  line-height: 2rem !important ;
}
.home-search-city{
  width: 550px;
  padding: 16px;
  border:1px solid gray;
  border-radius: 5px;
 text-align: right;
 direction: rtl;
  }
  .search-container{
    position: relative;
    width: 100%;
    max-width: 550px;
  }
  .search-input{
  width: 100%;
  padding: 15px;
  padding-right: 40px; /* فضای اضافی برای آیکن */
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid gray;
  direction: rtl;
  }
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
  }