* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

@font-face {
  font-family: "IranYekan";
  src: url("./assets/fonts/Webfonts/woff/IRANYekanX-Regular.woff")
    format("woff");
  src: url("./assets/fonts/Webfonts/woff/IRANYekanX-Regular.woff")
    format("woff");
  src: url("./assets/fonts/Webfonts/woff2/IRANYekanX-Bold.woff2")
    format("woff2");
  src: url("./assets/fonts/Webfonts/woff2/IRANYekanX-Regular.woff2")
    format("woff2");
}
body {
  font-family: "IranYekan", sans-serif;
  background-color: #05017b;
}
